// Microsoft Visual C++ generated resource script.
//
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//
1		RT_MANIFEST			"EfiDSEFix.exe.manifest"


#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
